#geral{
    width: 500px;
    min-height: 600px;
    margin: 20px auto;
    border: solid 1px #718282; 
    padding: 25px;
    border-radius: 8px;
    background-color: #6db6a3;
}

h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#div-form, #div-lista-pessoas{
    margin: 20px 0px;
    padding: 5px;
}

form{
    background-color: #7fffd4;
    padding: 25px;
    border-radius: 8px;
    color: #000000;
}

input{
    background-color: #6db6a3;
}

label, input{
    display: block;
    margin: 10px 0px;
    width: 370px;
    height: 30px;
    font-size: 1.2em;
    padding: 0px 15px;
    border-radius: 8px;
}

button{
    margin: 20px 0px;
    width: 200px;
    height: 35px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #6db6a3;
}

#div-lista-pessoas{
    background-color: #7fffd4;
    border-radius: 5px;
    padding: 25px;
    color: #080808;
}

/* o ponto ve antes pois o div esta concatenado dentro de um innerhtml*/
.item-pessoa{
    margin: 20px 0px;
    padding: 5px;
    background-color: #6db6a3;
    border-radius: 15px;
}